* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > button{
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
}
kbd:hover > button{
    display: inline-block;
}
body{
    background: grey url(./wall.jpg) no-repeat center center;
    background-size: cover;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;/*viewport height*/
}
#zhangsan{
    display: inline-block;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}
#zhangsan >div:nth-child(2){
    margin-left: -22px;
}
#zhangsan >div:nth-child(3){
    margin-left: -88px;
}
.A{
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    border: 1px solid #373737;
    color: #c5c5c5;
    border-radius: 7px; 
    box-shadow: 0 0 0 1px #1a1b1c,0 0 0 2px #1f2020,0 3px 0 2px #080808;
    margin: 0 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.A .text{
    position: absolute;
    left: 3px;
    top: 2px;
}
.A > img{
    position: absolute;
    left: 3px;
    bottom: 2px;
    width: 16px;
    height: 16px;
}
.row{
    margin: 16px;
}